.flex {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;

  justify-content: flex-start;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  font: normal 400 105% Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  word-wrap: break-word;
}

#logo {
  /*border: 1px green solid;*/
  padding: 0%;
  margin-right: 25%;
  margin-left: 0.75%;
}

header nav {
  width: 100%;
}

header nav ul{
  width: 95%;
}

hr {
  border: 0;
  clear: both;
  border-top: 1px #dfe3e8 solid;

}

article {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  margin-bottom: 10%;
  margin-top: 10%;
  border: 2px #b1040e solid;
}

#main {
  clear: both;
  background-color: #b1040e;
}

footer {
  /*border: 1px red solid;*/
  float: left;
  width: 100%;
  background-color: #b1040e;
  color: #fff;
  margin-bottom: 0;
}

footer nav {
  /*border: 1px blue solid;
  float: left;*/
  width: 98.5%;
  margin-left: 1.5%;
}

footer nav ul {
  /*border: 1px blueviolet solid;
  float: left;*/
  width: 45%;
}

footer hr {
  border-top: 1px #c10e0b solid;
}

#follow {
  /*border: 1px orange solid;*/
  width: 100%;
  float: left;
  margin-top: 2%;
  clear: both;
}

#follow #velamfundo {
  /*border: 1px purple solid;*/
  font-size: 125%;
  width: 8%;
  margin-left: 2%;
  margin-right: 59%;
  color: #fff;
  word-wrap: normal;
}

#follow-us {
  /*border: 1px indigo solid;*/
}

.social-media {
  color: #d9e3e8;
}

#follow .floated {
  margin-right: 2%;
}

#policy-lang {
  clear: both;
  /*border: 1px cyan solid;*/
  float: left;
  width: 98.5%;
  margin-top: 2.5%;
  margin-bottom: 2%;
  margin-left: 1.5%;
}

#policy-lang ul {
  /*border: 1px magenta solid;*/
  float: left;
  width: 20%;
  margin-right: 67%;
  font-size: 80%;
  color: #d9e3e8;
}

#policy-lang select {
  /*border: 1px chocolate solid;*/
  float: left;
  margin-top: 1%;
}

li {
  list-style: none;
  margin-left: -2.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-floated {
  /*padding-right: 1.7%;
  padding-left: 1.7%;*/
  padding-bottom: 1.25%;
  padding-top: 1.25%;
  border: 0;
  border-bottom: 2px #b1040e solid;
}

#menu {
  border-bottom: 2px #fff solid;
  margin-right: 3%;
  padding: 1% 0%;
}

.floated {
  float: left;
  width: auto;
  margin-right: 5%;
}

#mantra {
  font-size: 200%;
}

#caption {
  margin-top: -2%;
  font-size: 120%;
  color: #6b7a87;
}

#menu:hover {
  color: #b1040e;
  border-bottom-color: #b1040e;
}


footer nav a:hover {
  color: #fff;
  border-bottom-color: #fff;
}

.social-media:hover {
  color: #fff;
  text-decoration: underline;
}

#policy-lang a:hover {
  color: #fff;
}

#main img {
}