.all {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#about-article {
  width: 60%;
  height: 400px;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 8%;
}

#article-head {
  font-size: 200%;
  font-weight: 600;
  margin-top: 16%;
}